# Database connection URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5437/postgres"

# Key used for encrypting passwords
PASSWORD_ENCRYPTION_KEY="cefb101f42a07412091526e56d25730a922bd4f35b7dc26b6d22d90cec6753da"

# JSON Object Signing and Encryption (JOSE) Secret
JOSE_SECRET="5661fb713089d675717d59b3c17fbbd9fcde6bf9dad923ce150c3e7f29e5667f0fafba280b3f35dde649ba50cc0906eb15dccbcaffeb775e81a7ec0e1e4f0ff4"

# Amazon S3 Configuration
S3_REGION=eu-central-1
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET_NAME="lazary-ways"
S3_BUCKET_VACANCIES="vacancies"